@using SADVO.Core.Application.ViewModels.PuestoElectivoViewMode;
@model PuestoElectivoViewModelDelete;
@{
    ViewData["Title"] = "Eliminar Puesto Electivo";
}

<div class="col-12 col-md-6 offset-md-3 ">
    <div class="card">
        <div class="card-header bg-danger text-light">
            <h4 class="text-center">
                Esta seguro que desea eliminar el puesto electivo:
                @Model.Nombre?
            </h4>
        </div>
        <div class="card-body">
            <form asp-controller="PuestoElectivo" asp-action="Delete" method="POST">
                <input type="hidden" asp-for="Id" />

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-danger me-2"><i class="bi bi-trash"></i> Eliminar</button>
                    <a asp-controller="PuestoElectivo" asp-action="Index" class="btn btn-outline-warning"><i class="bi bi-arrow-left-short"></i> Volver</a>
                </div>
            </form>
        </div>
    </div>
</div>
