@using SADVO.Core.Application.ViewModels.UsuarioViewModel;
@model UsuarioSaveViewModel;

@{
    bool editMode = ViewBag.EditMode ?? false;
    ViewData["Title"] = "Crear Usuario";
}

<div class="card-header bg-success text-light"><h5 class="text-center">@(editMode ? "Edit - " + Model.Nombre : "Agregar Puesto Electivo + ")</h5></div>
<form asp-controller="Usuario" asp-action="@(editMode ? "Edit" : "Create")" method="POST">
    <section class="">
        <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
            <div class="container">
                <div class="row gx-lg-5 align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h1 class="my-5 display-3 fw-bold ls-tight">
                            The best offer <br />
                            <span class="text-primary">for your business</span>
                        </h1>
                        <p style="color: hsl(217, 10%, 50.8%)">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit...
                        </p>
                    </div>
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="card">
                            <div class="card-body py-5 px-md-5">

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" class="form-control" asp-for="Nombre" />
                                            <label class="form-label" asp-for="Nombre">Nombre</label>
                                            <span asp-validation-for="Nombre" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" class="form-control" asp-for="Apellido" />
                                            <label class="form-label" asp-for="Apellido">Apellido</label>
                                            <span asp-validation-for="Apellido" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" class="form-control" asp-for="UserName" />
                                            <label class="form-label" asp-for="UserName">UserName</label>
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="email" class="form-control" asp-for="Email" />
                                    <label class="form-label" asp-for="Email">Correo</label>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" class="form-control" asp-for="Contrasena" />
                                    <label class="form-label" asp-for="Contrasena">Contraseña</label>
                                    <span asp-validation-for="Contrasena" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" class="form-control" asp-for="RepeatContrasena" />
                                    <label class="form-label" asp-for="RepeatContrasena">Repetir Contraseña</label>
                                    <span asp-validation-for="RepeatContrasena" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" asp-for="Rol">Rol</label>
                                    <select class="form-control" asp-for="Rol">
                                        <option value="">Seleccione un rol</option>
                                        <option value="Administrador">Administrador</option>
                                        <option value="Dirigente">Dirigente</option>
                                    </select>
                                    <span asp-validation-for="Rol" class="text-danger"></span>
                                </div>

                                <div class="form-check mb-4">
                                    <input class="form-check-input" type="checkbox" asp-for="EstaActivo" />
                                    <label class="form-check-label" asp-for="EstaActivo">Activo</label>
                                </div>

                                <button type="submit" class="btn btn-primary btn-block mb-4">
                                    Registrar
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
