@using SADVO.Core.Application.Dtos.Alianza;

@model AlianzaDto

<h3>¿Está seguro que desea eliminar la solicitud de alianza con el partido @Model.PartidoReceptorNombre (@Model.PartidoReceptorSiglas)?</h3>

<form asp-action="ConfirmarEliminar" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit">Eliminar</button>
    <a asp-action="Index">Cancelar</a>
</form>
