@using SADVO.Core.Application.Dtos.Alianza;

@model AlianzaDto

<h3>¿Está seguro que desea aceptar la alianza con el partido @Model.PartidoSolicitanteNombre (@Model.PartidoSolicitanteSiglas)?</h3>

<form asp-action="ConfirmarAceptar" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit">Aceptar</button>
    <a asp-action="Index">Cancelar</a>
</form>
