@using SADVO.Core.Application.ViewModels.AlianzaModel;

@model CrearAlianzaViewModel

<form asp-action="CrearSolicitud" method="post">
    <label for="receptorId">Selecciona el partido destino:</label>
    <select name="receptorId" required>
        @foreach (var partido in Model.PartidosDisponibles)
        {
            <option value="@partido.Id">@partido.Nombre (@partido.Siglas)</option>
        }
    </select>

    <br />
    <button type="submit">Crear</button>
    <a asp-action="Index">Cancelar</a>
</form>
